.input-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
}

.flex-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}


