@import url('fonts.css');
:root{
    overscroll-behavior: none;
}
body{
    background: linear-gradient(135deg, #9B0C43, #0D5B99);
    margin: 0;
    
}

.container {
    justify-content: center;
    border: none solid #808080;
    border-radius: 20px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top:16px;
    width: 350px;
    background-color: #0B0909;
}

.greetings{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0;
    /* border: 2px solid red; */
}

.title {
    display: flex;
    background: linear-gradient(90deg, #FF1B6B, #45CAFF );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Oleo Bold";
    font-size: 30px;
    text-align: center;
    /* border: 2px solid #36454F; */
    line-height: 0;
}

.bio-greetings{
    white-space: nowrap;
    color: #EEEEEE;
    font-family: "Oleo Regular";
    font-size: 20px;
    /* border: 2px solid yellow; */
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0;
    margin-top: 2px;
}

.barrier{
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid #DDDDDD;
}

.action-title{
    font-family: "PT bold";
    color: #DDDDDD;
    text-align: center;
    font-size: 17px;
    margin-left: 16px;
    margin-right: 16px;

}

.form-labels{
    font-family: "PT regular";
    /* line-height: 0; */
    color: #DDDDDD;
    font-size: 17px;
    margin-top:10px;

}

.form-container{
    margin-left: 16px;
    margin-right:16px;
}

.form-input > input {
    width: 310px;
    height: 33px;
    border: 3px solid #36454F;
    border-radius: 10px;
    outline: none;
    background-color: #0B0909;
    color: #DDDDDD;
    margin-top: 5px;
}

.form-input > input::placeholder{
    color:#F5F5F5;
    opacity: 0.5;
}

.form-input >input:focus{
    border: 3px solid #FF8FA4
    
}

.login-utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.form-anker > a {
    color: #B0B0B0;
    font-family: "PT regular";
    font-size: 16px;
    text-decoration: none;
}

.form-anker > a:visited {
    text-decoration: none;
    color:  #B0B0B0;
    
}

.form-anker > a:hover{
    text-decoration: none;
    color: #FF8FA4;
}

.form-anker> a:active {
    text-decoration: none;
}

.form-button > input{
    width: 62px;
    height: 38px;
    outline: none;
    background: #7C0C9B;
    border: none;
    border-radius: 13px;
    color: #DDDDDD;
    font-weight: bold;
}

.form-button > input:hover{
    background-color: #400C9B;
    color: #b0b0b0;
}

.form-button > input:active{
    background-color: #0C139B;
    color: #6e6e6e;
}

.go-to-register{
    margin-top: 0;
    text-align: center;
    vertical-align: top;
}

.footer-container {
    background-color: #0B0909;
    color: #DDDDDD;
    font-family: "PT regular";
    height: 200px;
}

.copyright {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}


.footer-urls > hr {
    border: 1px solid #DDDDDD;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 0px;
   
}

.footer-urls > ul {
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    list-style: none;
}

.footer-urls > ul > li {
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
}