@import url("./fonts/fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  overscroll-behavior: none;
}

body {
  background: linear-gradient(135deg, #9b0c43, #0d5b99);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  /* width: clamp(20%, 100%, 100%); */
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #0b0909;
}

.greetings {
  display: grid;
  justify-content: center;
  gap: 10px;
  border: 2px solid red;
}

.title {
  display: inline-block;
  background: linear-gradient(90deg, #ff1b6b, #45caff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Oleo Bold";
  font-size: clamp(20px, 5vw, 30px);
  border: 2px solid #ff0000;
  line-height: 0;
  margin: 0 auto;
}

.bio-greetings {
  color: #eeeeee;
  font-family: "Oleo Regular";
  font-size: clamp(10px, 5vw, 20px);
  border: 2px solid red;
  text-align: center;
  line-height: 0;
}

.barrier {
  width: 100%;
  border: none;
  margin: 15px auto;
  border: 1px solid #dddddd;
}
.action-title {
  font-family: "PT bold";
  color: #dddddd;
  text-align: center;
  font-size: clamp(10px, 85%, 20px);
  border: 2px solid red;
}

.form-container {
  width: 100%;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}



.useful-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0px;
  width: 100%;
  border: 1px solid#ff0000;
}
